@import 'normalize.css';

html {
  font-size: normal;
  font-family: helvetica, arial, sans;
}

header {
  text-align: center;
}

footer {
  padding: 0.25rem;
  text-align: center;
}
.pallet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pallet__character {
  margin: 0.5rem;
  padding: 0.75rem;
  font-size: 5rem;
  /* border: 0.5rem solid #ddd; */
  /* border-radius: 10%; */
  width: 8rem;
  height: 8rem;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
